* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

html {
  background-color: #f0efef;
}

body {
  overflow: hidden;
  margin: 0 10px;
}

ul {
  margin-top: 50px;
}

li {
  margin-top: 15px;
}

.input, .textarea, .select select {
  background-color: #f0efef;
}

.select {
  margin-top: 50px;
}

.listIcon {
  font-size: 1.5rem;
  position: relative;
  margin-bottom: -7px;
}

.nb {
  color: rgb(238, 77, 77);
}

.notification {
  margin-top: 60px;
}
